.git
.venv
__pycache__
.ipynb_checkpoints
results/
report/.aux
report/*.aux
report/*.bbl
report/*.bcf
report/*.blg
report/*.fdb_latexmk
report/*.fls
report/*.log
report/*.out
report/*.pdf
report/*.run.xml
report/*.synctex.gz
report/*.synctex(busy)
report/*.synctex.gz(busy)
